<html>

  <head>

      <% include head %>



  </head>

  <body>

        <header>

          <% include header %>

        </header>

<br/><br/><br/><br/> 
<form method="post" id="search_sport">  


Edition: <select name="edition" id="edition">

<%for(var i=0;i<result1.length;i++)
         {
         %>
         <option value='<%= result1[i].Year%>' /><%= result1[i].Year%></option>
         <% }%> 
</select>

<br/><br/> 


Season: <select name="season" id="season">

<option value=Summer />Summer</option>

</select>

<br/><br/>


Sports:

<select name="sports" id="sport">
<option value=NULL />-------</option>
<%for(var i=0;i<result3.length;i++)
         {
         %>
         <option value='<%= result3[i].Sport%>' /><%= result3[i].Sport%></option>
         <% }%> 
</select>

<br/><br/>

Event: <select name="events" id='event'>
<option value=NULL />-------</option>
<%for(var i=0;i<result4.length;i++)
         {
         %>
         <option value='<%= result4[i].Event%>' /><%= result4[i].Event%></option>
         <% }%> 
</select>


<br/><br/>

<input type="submit" id="search"/>

</form>




<% if (isresult) { %>

<% if (result.length==0) {%> <h1> No Olympics were held this year</h1><% } else {%>
  
<% if (choice == true) { %>

<center><table id="t01" border="1">
<caption><h3>Medal Tally</h3></br> Edition:<%= req.body.edition %> </br>Season:<%= req.body.season %></caption>
  <tr>
    <th>Country</th>
    <th>Gold</th>
    <th>Silver</th>
    <th>Bronze</th>
  </tr>
  <% for(var i=0; i<result.length; i++) {%>
     
     <tr>
       <td><%= result[i].Country %></td>
       <td><%= result[i].Gold %></td>
       <td><%= result[i].Silver %></td>
       <td><%= result[i].Bronze %></td>
     </tr>
  
  <% } %>
</table></center>

<%} else {%>
<center><table id="t01" border="1">
<caption><h3>Athlete Performance</h3></br> Edition:<%= req.body.edition %> </br>Season:<%= req.body.season %></br> Sport:<%= req.body.sports %> </br> <% if(req.body.events!='NULL') {%> Event:<%= req.body.events %><% }; %></caption>
  <tr>
    <% if (result[0].Sport) { %>
      <th>Sport</th>
    <% } %>
    <th>Event</th>
    <th>Athlete's Name</th>
    <th>Country</th>
    <th>Medal</th>
  </tr>
  <% for(var i=0; i<result.length; i++) {%>
     
     <tr>
      <% if (result[0].Sport) { %>
        <td><%= result[i].Sport %></td>
      <% } %>
       <td><%= result[i].Event %></td>
       <td><%= result[i].Name %></td>
       <td><%= result[i].Country %></td>
       <td><%= result[i].medal %></td>
     </tr>
  <% } %>
</table></center>

<%}%>

<%}%>



<% }; %>

  <footer>

      <% include footer %>
      <script src="/javascript/sport_event.js"></script>


  </footer> 
 
  </body>


</html>