<html>
   <head>
      <% include head %>
      <style type="text/css">
         #main-content{
         padding: 40px 20px 0px 20px; 
         margin: 40px 0px 0px 0px;
         border: none;
         }
      </style>
   </head>
   <body>
      <div id="main-content">
         <header>
            <% include header %>
         </header>
         <div class="container">
            <div class="well">
               <form method="post" id="search_sport" class="form-group">
                  <div class="row">
                     <div class="col-md-6">
                        <label for="edition">Edition</label>
                        <select name="edition" id="edition" class="form-control">
                           <%for(var i=0;i<result1.length;i++)
                              {
                              %>
                           <option value='<%= result1[i].Year%>' /><%= result1[i].Year%></option>
                           <% }%> 
                        </select>
                     </div>
                     <div class="col-md-6">
                        <label for="season">Season</label>
                        <select name="season" id="season" class="form-control">
                           <option value=Summer />Summer</option>
                        </select>
                     </div>
                  </div>
                  <br/>
                  <div class="row">
                     <div class="col-md-6">
                        <label for="sport">Sports</label>
                        <select name="sports" id="sport" class="form-control">
                           <option value=NULL />-------</option>
                           <%for(var i=0;i<result3.length;i++)
                              {
                              %>
                           <option value='<%= result3[i].Sport%>' /><%= result3[i].Sport%></option>
                           <% }%> 
                        </select>
                     </div>
                     <div class="col-md-6">
                        <label for="event">Event</label>
                        <select name="events" id='event' class="form-control">
                           <option value=NULL />-------</option>
                           <%for(var i=0;i<result4.length;i++)
                              {
                              %>
                           <option value='<%= result4[i].Event%>' /><%= result4[i].Event%></option>
                           <% }%> 
                        </select>
                     </div>
                  </div>
                  <br/>
                  <div class="row">
                     <div class="col-md-6">
                        <input type="submit" id="search" class="btn btn-success btn-block"/>                    
                     </div>
                     <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block" formaction="/bing">Bing Search</button>
                                  
                     </div>
                  </div>
               </form>
            </div>
            <% if (isresult) { %>
            <% if (result.length==0) {%> 
            <h1 class="text-center"> No Olympics were held this year</h1>
            <% } else {%>
            <% if (choice == true) { %>
            <center>
               <div class="panel panel-default">
                  <table class="table table-striped" id="t01">
                     <caption>
                        <h3 class="text-center">Medal Tally</h3>
                        <h5 class="text-center">
                        Edition:<%= req.body.edition %></h4>
                        <h5 class="text-center">
                        Season:<%= req.body.season %></h4>
                     </caption>
                     <thead>
                        <tr>
                           <th class="col-md-6 text-center">Country</th>
                           <th class="col-md-2 text-center">Gold</th>
                           <th class="col-md-2 text-center">Silver</th>
                           <th class="col-md-2 text-center">Bronze</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% for(var i=0; i<result.length; i++) {%>
                        <tr>
                           <td class="text-center"><%= result[i].Country %></td>
                           <td class="text-center"><%= result[i].Gold %></td>
                           <td class="text-center"><%= result[i].Silver %></td>
                           <td class="text-center"><%= result[i].Bronze %></td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>
               </div>
            </center>
            <%} else {%>
            <center>
               <div class="panel panel-default">
                  <table id="t01" class="table table-striped">
                     <caption>
                        <h3 class="text-center">Athlete Performance</h3>
                        <h5 class="text-center">
                        Edition:<%= req.body.edition %></h4>
                        <h5 class="text-center">
                        Season:<%= req.body.season %></h4>
                        <h5 class="text-center">
                        Sport:<%= req.body.sports %></h4>
                        <% if(req.body.events!='NULL') {%> 
                        <h5 class="text-center">
                        Event:<%= req.body.events %></h4><% }; %>
                     </caption>
                     <tr>
                        <% if (result[0].Sport) { %>
                        <th class="col-md-3 text-center">Sport</th>
                        <% } %>
                        <th class="col-md-3 text-center">Event</th>
                        <th class="col-md-3 text-center">Athlete's Name</th>
                        <th class="col-md-3 text-center">Country</th>
                        <th class="col-md-3 text-center">Medal</th>
                     </tr>
                     <tbody>
                        <% for(var i=0; i<result.length; i++) {%>
                        <tr>
                           <% if (result[0].Sport) { %>
                           <td class="text-center"><%= result[i].Sport %></td>
                           <% } %>
                           <td class="text-center"><%= result[i].Event %></td>
                           <td class="text-center"><%= result[i].Name %></td>
                           <td class="text-center"><%= result[i].Country %></td>
                           <td class="text-center"><%= result[i].medal %></td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>
               </div>
            </center>
            <%}%>
            <%}%>
            <% }; %>
            <footer>
               <% include footer %>
               <script src="/javascript/sport_event.js"></script>
            </footer>
         </div>
   </body>
   </div>
</html>