extend layout
block navbarcontent
	+nav_item("/") Sample Work
	+nav_item("/your-work", "active") Your Work
	+nav_item("/reference") Reference
block content
	p
		|	#{title}:
		form(method="get", action="/your-work/")
			select(name="login")
				-	for (var index = 0 ; index < selectResult.length ; index ++)
					option(selected = selectResult[index].login == login) #{selectResult[index].login}
			input(type='submit', value='Show Family')
		p
			table
				-	for (var index = 0 ; index < tableResult.length ; index ++)
					tr
						td=tableResult[index].login + "   "
						td &nbsp;
						td=tableResult[index].name + "   "
						td &nbsp;
						td=tableResult[index].role + "   "
						td &nbsp;
						td=tableResult[index].sex + "   "
						td &nbsp;
						td=tableResult[index].relationshipStatus + "   "
						td &nbsp;
						td=tableResult[index].birthyear + "   "
	form(method='get', action='/your-work/')
		input(type='submit', value='Return')